@media screen and (min-width:480px) {
    .container {
        max-width: 428px;
        
       
    }
  


  .header-flex-flex{ 
    position: relative;
  }

  .Section1-h {
    text-transform: capitalize;
    }

    .section3-flex{
      display: none;
    }

    .footer-input-subscriber{
      width: 396px;
    }
    /* .mobile-contacts-item-mobile{
      font-size: 36px;
    } */

    .Section1 {
      background-image:linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/tablet/index/Dark-bg_tablet-min.jpg) ;
     
      max-width:100%;
    }
  }
  
  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .Section1 {
    background-image:linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/tablet/index/) ;
  }
}

@media screen  and (min-width:350px){
  

.modal{
  min-width: 392px;
}
}


    






@media screen and (min-width : 428px) {
  .mobile-contacts-item-mobile{
    font-size: 36px;
    
  }
  


 }





